@media print {
    button {
      display: none;
    }
  
    body {
      background: white;
    }
  
    table {
      font-size: 12px;
    }
  }
  

  @media print {
    body {
      margin: 0;
    }
    @page {
      size: A4;
      margin: 10mm;
    }
  }
  